@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    background-image: url('../images/livros.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensures body takes at least full height of viewport */
    overflow-y: auto;
}

/* Estilos do Contêiner de Login */
#login-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 16px;
    width: 350px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/* Design Responsivo */
@media (max-width: 768px) {
    body {
        background-image: none; /* Remove background image on mobile */
        margin: 0;
        overflow-y: auto;
        min-height: 100vh;
    }

    #login-container {
        width: 100%; /* Full width on mobile */
        height: auto; /* Full height on mobile */
        min-height: 100%;
        border-radius: 0; /* Remove rounded corners on mobile */
        margin-top: 20px;
        padding: 50px; /* Reduce padding for smaller screens */
        box-shadow: none; /* Remove shadow for a flat look on mobile */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #logo {
        max-width: 80%; /* Scale down logo on smaller screens */
        margin-bottom: 20px;
    }
}

#logo {
    width: 200px;
    margin: 0 auto 20px auto; /* Center the logo and add bottom margin */
    display: block;
}

p {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

hr {
    margin-bottom: 30px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 0px;
}

input[type="email"]:hover,
input[type="password"]:hover,
input[type="text"]:hover {
    border-color: #9c9c9c;
}

.form-label {
    font-size: 14px;
    color: #555;
    text-align: left;
    align-items: start;
    position: absolute;
    font-weight: bold;
    margin-bottom: 5px;
    padding-left: 5px;
}

/* Campo de Senha com Ícone */
.password-container {
    position: relative;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.password-container input[type="password"],
.password-container input[type="text"] {
    flex: 1;
    padding-right: 40px;
}

#password-toggle {
    position: absolute;
    right: 10px;
    top: 65%;
    transform: translateY(-50%);
    cursor: pointer;
}

#password-toggle img {
    width: 25px;
}

.toggle-icon {
    filter: brightness(1);
    transition: filter 0.3s ease;
}

#password-toggle:hover .toggle-icon,
#password-toggle:focus-visible .toggle-icon {
    filter: brightness(0.6);
}

.error-message {
    color: rgb(219, 0, 0);
    font-size: 13px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 4px;
    line-height: 1.5;
}

#options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    font-size: 14px;
}

#remember-me {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
}

input[type="checkbox"] {
    margin-right: 5px;
    accent-color: #B22222;
}

input[type="checkbox"]:hover,
input[type="checkbox"]:focus-visible,
input[type="checkbox"]:active {
    accent-color: #8B0000;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #B22222;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 450;
    cursor: pointer;
    margin-top: 5px;
}

button[type="submit"]:hover,
button[type="submit"]:focus-visible {
    background-color: #8B0000;
}

button[type="submit"]:active {
    background-color: #660000;
}

#link-cadastro {
    display: block;
    margin-top: 20px;
    font-size: 14px;
    color: #555;
}

a:link {
    color: #555;
    text-decoration: underline;
}

a:hover,
a:focus {
    color: #B22222;
}

a:active {
    color: #660000;
}
